// RESOLUTIONS - ANGULAR MATERIAL
////////////////////////////////////////
$resGT-XS:    600px;
$resGT-SM:    960px;
$resGT-MD:    1280px;

// PRIMARY SETTINGS
////////////////////////////////////////
$pageWidth:   1280px;

$primaryColor: #e74c3c;
$secondColor: #4e4e4e;

$red: #CF000F;
$green: #2ECC71;

// ANIMATIONS
////////////////////////////////////////
$durTime:     200ms;  // Default Duration