// OFFICIAL MATERIAL STYLEGUIDE BREAKPOINTS
// https://material.io/guidelines/layout/responsive-ui.html#responsive-ui-breakpoints
/////////////////////////////////////////////////////////////////////////////////////
$resMobile:       480px;          // xsmall
$resMobileLarge:  600px;          // small
$resTabletSmall:  720px;          // small
$resTablet:       960px;          // medium
$resDesktop:      1280px;         // large
$resDesktopLarge: 1600px;         // large
$resFullHD:       1920px + 1px;   // xlarge
$resWQHD:         2560px + 1px;
$resUHD1:         3840px + 1px;