// @import "variables"; // Only for debugging / testing needed. In Real Project this comes from loader.scss
// @import "vendor/rfs"; // Only for debugging / testing needed. In Real Project this comes from loader.scss
// @import "functions/px-to-em"; // Only for debugging / testing needed. In Real Project this comes from loader.scss
// @import "functions/px-to-rem"; // Only for debugging / testing needed. In Real Project this comes from loader.scss
// @import "mixins/media"; // Only for debugging / testing needed. In Real Project this comes from loader.scss
@import "mixins/typography";


// Typography
$heading-font-weight: 700 !default;
$paragraph-font-weight: 400 !default;


// Heading 1
$h1-font-size: #{rfs-fluid-value(rem(64px))} !default;
$h1-font-weight: $heading-font-weight !default;
$h1-line-height: #{em(70px, 64px)} !default;
// Heading 2
$h2-font-size: #{rfs-fluid-value(rem(44px))} !default;
$h2-font-weight: $heading-font-weight !default;
$h2-line-height: #{em(52px, 44px)} !default;
// Heading 3
$h3-font-size: #{rfs-fluid-value(rem(32px))} !default;
$h3-font-weight: $heading-font-weight !default;
$h3-line-height: #{em(40px, 32px)} !default;
// Heading 4
$h4-font-size: #{rfs-fluid-value(rem(28px))} !default;
$h4-font-weight: $heading-font-weight !default;
$h4-line-height: #{em(32px, 28px)} !default;
// Heading 5
$h5-font-size: #{rfs-fluid-value(rem(22px))} !default;
$h5-font-weight: $heading-font-weight !default;
$h5-line-height: #{em(24px, 22px)} !default;
// Heading 6
$h6-font-size: #{rfs-fluid-value(rem(18px))} !default;
$h6-font-weight: $heading-font-weight !default;
$h6-line-height: #{em(24px, 18px)} !default;


// Paragraph ultra-small
$paragraph-ultra-small-font-size: #{rfs-fluid-value(rem(10px))} !default;
$paragraph-ultra-small-font-weight: $paragraph-font-weight !default;
$paragraph-ultra-small-line-height: #{em(12px, 10px)} !default;
// Paragraph very-small
$paragraph-very-small-font-size: #{rfs-fluid-value(rem(12px))} !default;
$paragraph-very-small-font-weight: $paragraph-font-weight !default;
$paragraph-very-small-line-height: #{em(14px, 12px)} !default;
// Paragraph small
$paragraph-small-font-size: #{rfs-fluid-value(rem(14px))} !default;
$paragraph-small-font-weight: $paragraph-font-weight !default;
$paragraph-small-line-height: #{em(18px, 14px)} !default;
// Paragraph default
$paragraph-default-font-size: #{rfs-fluid-value(rem(16px))} !default;
$paragraph-default-font-weight: $paragraph-font-weight !default;
$paragraph-default-line-height: #{em(24px, 16px)} !default;
// Paragraph large
$paragraph-large-font-size: #{rfs-fluid-value(rem(18px))} !default;
$paragraph-large-font-weight: $paragraph-font-weight !default;
$paragraph-large-line-height: #{em(28px, 18px)} !default;
// Paragraph very-large
$paragraph-very-large-font-size: #{rfs-fluid-value(rem(22px))} !default;
$paragraph-very-large-font-weight: $paragraph-font-weight !default;
$paragraph-very-large-line-height: #{em(30px, 22px)} !default;
// Paragraph ultra-large
$paragraph-ultra-large-font-size: #{rfs-fluid-value(rem(26px))} !default;
$paragraph-ultra-large-font-weight: $paragraph-font-weight !default;
$paragraph-ultra-large-line-height: #{em(34px, 26px)} !default;


:root {
    // Typography
    --heading-font-weight: #{$heading-font-weight};
    --paragraph-font-weight: #{$paragraph-font-weight};

    // Heading 1
    --h1-font-size: #{$h1-font-size};
    --h1-font-weight: #{$h1-font-weight};
    --h1-line-height: #{$h1-line-height};
    // Heading 2
    --h2-font-size: #{$h2-font-size};
    --h2-font-weight: #{$h2-font-weight};
    --h2-line-height: #{$h2-line-height};
    // Heading 3
    --h3-font-size: #{$h3-font-size};
    --h3-font-weight: #{$h3-font-weight};
    --h3-line-height: #{$h3-line-height};
    // Heading 4
    --h4-font-size: #{$h4-font-size};
    --h4-font-weight: #{$h4-font-weight};
    --h4-line-height: #{$h4-line-height};
    // Heading 5
    --h5-font-size: #{$h5-font-size};
    --h5-font-weight: #{$h5-font-weight};
    --h5-line-height: #{$h5-line-height};
    // Heading 6
    --h6-font-size: #{$h6-font-size};
    --h6-font-weight: #{$h6-font-weight};
    --h6-line-height: #{$h6-line-height};

    // Paragraph ultra-small
    --paragraph-ultra-small-font-size: #{$paragraph-ultra-small-font-size};
    --paragraph-ultra-small-font-weight: #{$paragraph-ultra-small-font-weight};
    --paragraph-ultra-small-line-height: #{$paragraph-ultra-small-line-height};
    // Paragraph very-small
    --paragraph-very-small-font-size: #{$paragraph-very-small-font-size};
    --paragraph-very-small-font-weight: #{$paragraph-very-small-font-weight};
    --paragraph-very-small-line-height: #{$paragraph-very-small-line-height};
    // Paragraph small
    --paragraph-small-font-size: #{$paragraph-small-font-size};
    --paragraph-small-font-weight: #{$paragraph-small-font-weight};
    --paragraph-small-line-height: #{$paragraph-small-line-height};
    // Paragraph default
    --paragraph-default-font-size: #{$paragraph-default-font-size};
    --paragraph-default-font-weight: #{$paragraph-default-font-weight};
    --paragraph-default-line-height: #{$paragraph-default-line-height};
    // Paragraph large
    --paragraph-large-font-size: #{$paragraph-large-font-size};
    --paragraph-large-font-weight: #{$paragraph-large-font-weight};
    --paragraph-large-line-height: #{$paragraph-large-line-height};
    // Paragraph very-large
    --paragraph-very-large-font-size: #{$paragraph-very-large-font-size};
    --paragraph-very-large-font-weight: #{$paragraph-very-large-font-weight};
    --paragraph-very-large-line-height: #{$paragraph-very-large-line-height};
    // Paragraph ultra-large
    --paragraph-ultra-large-font-size: #{$paragraph-ultra-large-font-size};
    --paragraph-ultra-large-font-weight: #{$paragraph-ultra-large-font-weight};
    --paragraph-ultra-large-line-height: #{$paragraph-ultra-large-line-height};
}


// Headline Styles
h1 { @include headline-style('h1'); }
h2 { @include headline-style('h2'); }
h3 { @include headline-style('h3'); }
h4 { @include headline-style('h4'); }
h5 { @include headline-style('h5'); }
h6 { @include headline-style('h6'); }

p { @include typo-style('default'); }

@import "utilities/typography";
