// https://material-ui.com/customization/breakpoints/
$resMat-xs:                     0 !default;
$resMat-sm:                     600px !default;
$resMat-md:                     960px !default;
$resMat-lg:                     1280px !default;
$resMat-xl:                     1920px !default;

// Spacings
$spacing-xs:                    24px !default;
$spacing-sm:                    24px !default;
$spacing-md:                    32px !default;
$spacing-lg:                    32px !default;
$spacing-xl:                    64px !default;

$spacing-offset:                16px !default;

// Max Widths
$headerMaxWidth:                $resMat-lg !default;
$contentMaxWidth:               $resMat-lg !default;
$footerMaxWidth:                $resMat-lg !default;

// Colors
$primaryColor:                  #182D4C !default;
$primaryColorContrast:          #E9F0FA !default;
$secondaryColor:                #ff6520 !default;
$secondaryColorContrast:        #f2f2f2 !default;

// Typography
$paragraphFontWeight:           400 !default;
$headlineFontWeight:            700 !default;
// H1
$h1FontSize:                    64 !default;
$h1LineHeight:                  70 !default;
// H2
$h2FontSize:                    44 !default;
$h2LineHeight:                  52 !default;
// H3
$h3FontSize:                    32 !default;
$h3LineHeight:                  40 !default;
// H4
$h4FontSize:                    28 !default;
$h4LineHeight:                  32 !default;
// H5
$h5FontSize:                    22 !default;
$h5LineHeight:                  24 !default;
// H6
$h6FontSize:                    18 !default;
$h6LineHeight:                  24 !default;
// Paragraph ultra-small
$paragraphUltraSmallFontSize:   10 !default;
$paragraphUltraSmallLineHeight: 12 !default;
// Paragraph very-small
$paragraphVerySmallFontSize:    12 !default;
$paragraphVerySmallLineHeight:  14 !default;
// Paragraph small
$paragraphSmallFontSize:        14 !default;
$paragraphSmallLineHeight:      18 !default;
// Paragraph default
$paragraphDefaultFontSize:      16 !default;
$paragraphDefaultLineHeight:    24 !default;
// Paragraph large
$paragraphLargeFontSize:        18 !default;
$paragraphLargeLineHeight:      28 !default;
// Paragraph very-large
$paragraphVeryLargeFontSize:    22 !default;
$paragraphVeryLargeLineHeight:  30 !default;
// Paragraph ultra-large
$paragraphUltraLargeFontSize:   26 !default;
$paragraphUltraLargeLineHeight: 34 !default;
