// https://material-ui.com/customization/breakpoints/
$res-xs: 0 !default;        // Smartphone
$res-sm: 600px !default;    // Tablet
$res-md: 960px !default;    // Large Tablet
$res-lg: 1280px !default;   // Large Tablet and Notebooks
$res-xl: 1920px !default;   // Desktop +
