@mixin aspect-ratio($width, $height) {
    position: relative;
    &:before {
        width: 100%;
        content: "";
        display: block;
        padding-top: ($height / $width) * 100%;
    }
}
