// Typography
@mixin h1-style() {
    font-size: var(--h1-font-size);
    font-weight: var(--h1-font-weight);
    line-height: var(--h1-line-height);
}

@mixin h2-style() {
    font-size: var(--h2-font-size);
    font-weight: var(--h2-font-weight);
    line-height: var(--h2-line-height);
}

@mixin h3-style() {
    font-size: var(--h3-font-size);
    font-weight: var(--h3-font-weight);
    line-height: var(--h3-line-height);
}

@mixin h4-style() {
    font-size: var(--h4-font-size);
    font-weight: var(--h4-font-weight);
    line-height: var(--h4-line-height);
}

@mixin h5-style() {
    font-size: var(--h5-font-size);
    font-weight: var(--h5-font-weight);
    line-height: var(--h5-line-height);
}

@mixin h6-style() {
    font-size: var(--h6-font-size);
    font-weight: var(--h6-font-weight);
    line-height: var(--h6-line-height);
}

@mixin typo-style($var: 'default') {
    @if($var == 'ultra-small') {
        font-size: var(--paragraph-ultra-small-font-size);
        font-weight: var(--paragraph-ultra-small-font-weight);
        line-height: var(--paragraph-ultra-small-line-height);
    }
    @if($var == 'very-small') {
        font-size: var(--paragraph-very-small-font-size);
        font-weight: var(--paragraph-very-small-font-weight);
        line-height: var(--paragraph-very-small-line-height);
    }
    @if($var == 'small') {
        font-size: var(--paragraph-small-font-size);
        font-weight: var(--paragraph-small-font-weight);
        line-height: var(--paragraph-small-line-height);
    }
    @if($var == 'default') {
        font-size: var(--paragraph-default-font-size);
        font-weight: var(--paragraph-default-font-weight);
        line-height: var(--paragraph-default-line-height);
    }
    @if($var == 'large') {
        font-size: var(--paragraph-large-font-size);
        font-weight: var(--paragraph-large-font-weight);
        line-height: var(--paragraph-large-line-height);
    }
    @if($var == 'very-large') {
        font-size: var(--paragraph-very-large-font-size);
        font-weight: var(--paragraph-very-large-font-weight);
        line-height: var(--paragraph-very-large-line-height);
    }
    @if($var == 'ultra-large') {
        font-size: var(--paragraph-ultra-large-font-size);
        font-weight: var(--paragraph-ultra-large-font-weight);
        line-height: var(--paragraph-ultra-large-line-height);
    }
}
